*.exe
*.suo
*.opensdf
*.db
*.ilk
*.pdb
*.ipch
*.aps
*.log
*.obj
*.idb
*.tlog
*.lastbuildstate
*.pch
*.res
AutoBackup.VC.db
AutoBackup.opensdf
AutoBackup.sdf
AutoBackup/AutoBackup.vcxproj.filters
AutoBackup/Debug/
AutoBackup/ReadMe.txt
Debug/
Release/
ipch/
